name: github pages

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: actions/checkout@v5
      with:
        repository: 'monochromegane/hugo-theme-thinking-megane'
        ref: 'refs/heads/master'
        path: 'themes/thinking-megane'

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.154.2'

    - name: Build
      run: hugo --gc --minify --cleanDestinationDir --theme=thinking-megane

    - name: Create old RSS file
      run: cp public/index.xml public/atom.xml

    - name: CNAME
      run: echo blog.monochromegane.com > public/CNAME

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.ACTIONS_DEPLOY_TOKEN }}
        external_repository: monochromegane/monochromegane.github.com
        publish_branch: master
        publish_dir: ./public
